@{
    ViewBag.Title = "Nosotros";
}
    <section>
        <div class="container bg-light">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle"  src="~/img/fotito1.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4 font-weight-bold text-primary">Te cuento sobre mí...</h2>
                        <p>
                            Mi nombre es Catherine González. Nací en la ciudad de Capiatá en el año 2000 y actualmente resido todavía allí.
                            Tengo cuatro hermanos con los que me llevo muy bien. Entre mis pasatiempos favoritos se encuentra la lectura, escuchar música,
                            me encanta hacer karaoke de mis temas favoritos, disfruto mucho de ver videos en YouTube, de hecho es mi app favorita.
                            Últimamente me está gustando mucho programar así que estoy pensando en enfocarme más en ello y convertirlo también en un pasatiempo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
